.top-container {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.margin-left-1 {
  margin-left: 1rem;
}

.padding-right-left {
  padding: 0 20rem;
}

.error-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: red;
}

.loading {
  text-align: center;
}

.error {
  text-align: center;
}
