.table-container {
  display: flex;
  justify-content: center;
  padding-top: 7rem;
}

.little-table {
  width: 50rem;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.messages-container {
  margin-top: 7rem;
}

.loading {
  text-align: center;
}

.error {
  text-align: center;
}

.logo {
  width: 40px;
}
